li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  #main {

    display: flex;
  }
  
  #main div {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
  }